<configuration scan="false"  scanPeriod="1 minutes"   debug="true">	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">			<layout class="eagle.jfaster.org.logging.trace.logback.TraceIdPatternLogbackLayout">				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%traceId] [%thread] %-5level %logger{36} - %msg%n</Pattern>			</layout>		</encoder>	</appender>	<logger name="eagle.jfaster.org"   level="info"  additivity="false">	   <appender-ref ref="Console" />	</logger>	<root level="warn">		<appender-ref ref="Console" />	</root></configuration>